header{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: #ffffff;
    border-color: #cccccc;
    color:#777777;
    display: flex;
    flex-wrap:wrap;
}

a{
    align-self: right;

}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.name{
    background-color: #4aaaa5;
    width: 102px;
    padding: 10px 0px;

}

div{

}

p{
   color: #777777; 
   font-family: 'Roboto', sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

.btn {
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border-radius: 4px;
    border-color: #4aaaa5;
    background-color:  #4aaaa5;
    color: #777777;
    cursor: pointer;
    transition: all 0.3s ease 0.0s
  }
  

footer{
    font-family: Arial, Helvetica, sans-serif;
    border-top: 8px, solid, #4aaaa5;
    flex-shrink:0;
    background-color:#666666;   
    text-align: center;
    color: #777777;
}