header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#ffffff;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body{
    font-family: Arial, Helvetica, sans-serif;

}

footer{
    font-family: Arial, Helvetica, sans-serif;
    border-top: 8px;
    border:#4aaaa5;
    flex-shrink:0;

}